// *****
// Utility Classes
// *****
body {
	line-height: normal;
}
html, body {
    overflow-x: hidden !important;
    width: 100%;
}
.pull-left {
	float: left;
}
.vl {
    border-left: 1px solid #767676;
    height: 50px;
    position: absolute;
    // left: 161px;
    left: 150px;
    margin-left: -3px;
    top: 2px;
}

.text-darkblue {
	color: #030237;
}
.btn-green {
	font-family: 'Futura T OT Medium', sans-serif;
	font-size: 22.82px;
	color: #fff;
	position: relative;
	padding: 21px 47px;
	z-index: 1;
	&:before {
		position: absolute;
		left: 50%;
		top: 0;
		content: "";
		width: 230px;
		height: 65px;
		display: inline-block;
		// margin-right: 5px;
		vertical-align: text-top;
		background-color: transparent;
		background-position : center center;
		background-repeat:no-repeat;
		background-image : url(../img/button-green.png);
		z-index: -1;
		transform: translateX(-50%);
	}
}

.btn-green.btn-green-small {
	font-size: 16.3px;
	&:before {
		top: 8px;
		width: 161px;
		height: 45px;
		background-image: url(../img/button-green-small.png);
	}
}

.btn-green:hover {
	color: #fff;
}



// *****
// Navigation
// *****
.navbar-white {
	// display: none;
	max-width: 100vw;
	background-color: #fff;
	font-family: 'Proxima Nova', sans-serif;
	color: #040b35;
	padding: 0.875rem 1rem;
}
	.navbar-white a {
		color: #040b35;
	}
		.navbar-white a.active {
			font-weight: bold;
			position: relative;
		}
		.navbar-white .nav-item:nth-child(1){
			margin-left: 0;
		}
		.navbar-white .nav-item{
			margin-left: 0px;
			text-align: center;
		}
	.navbar-dark .navbar-nav .nav-link {
		// color: #040b35;
	}
	.navbar-brand {
		font-size: 14px;
		position: relative;
	}
		.navbar-brand > img {
			margin-right: 48px;
		}
		.navbar-brand-text, .navbar-brand .vl {
			display: none;
		}
	.navbar-toggler {
		position: relative;
		padding: 4px 15px;
	}

    // navbar icon 
    .navbar-toggler:focus,
    .navbar-toggler:active {
        outline: 0;
    }

    .navbar-toggler span {
		display: block;
		background-color: #51bc31;
		height: 5px;
		width: 35px;
		margin-top: 5px;
		margin-bottom: 5px;
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		position: relative;
		left: 0;
		opacity: 1;
    }

    .navbar-toggler span:nth-child(1),
    .navbar-toggler span:nth-child(3) {
       -webkit-transition: transform .35s ease-in-out;
       -moz-transition: transform .35s ease-in-out;
       -o-transition: transform .35s ease-in-out;
       transition: transform .35s ease-in-out;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(1) {
        position: absolute;
        left: 12px;
        top: 10px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        opacity: 0.9;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(2) {
        height: 12px;
        visibility: hidden;
        background-color: transparent;
    }

    .navbar-toggler:not(.collapsed) span:nth-child(3) {
        position: absolute;
        left: 12px;
        top: 10px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
        opacity: 0.9;
    }
    // responsivness
    @media only screen and (min-width: 768px) {
		.navbar-brand-text {
			display: inline;
		}
		.navbar-brand .vl {
			display: inherit;
		}
    }
    @media only screen and (min-width: 992px) {
    	.navbar-white .nav-item{
    		margin-left: 31px;
    		text-align: left;
    	}

		.navbar-white a.active::after { 
		    content: "";
		    position: absolute;
		    top: 52px;
		    left: 50%;
		    width: 99px;
		    height: 6px;
		    background-color: #51bc31;
		    transform: translateX(-50%);
		}
    }



// *****
// Header
// *****
header {
	overflow: hidden;
	background: #020a37;
	background-size: cover;
	// z-index: -2;
}
	header.big-image {	
		// padding: 143px 0 58px;
		padding: 85px 0 0 0;
		height: 100vh;
		min-height: 425px;
		text-align: left;
		background-image: url(../img/header-bg.jpg);
		position: relative;
		text-align: center;
	}
	header.small-image {
		margin-top: 82px;
		padding: 27px 0;
		background-image: url(../img/header-small-bg.jpg);
		text-align: center;
	}
	header h1 {
		font-family: 'Futura T OT Bold', sans-serif;
		font-size: 39.78px;
		margin-bottom: 60px;
		text-align: center;
	}
	header p.sub-text {
		font-family: 'Futura T OT Book', sans-serif;
		font-size: 29.87px;
		margin-bottom: -3px;
		text-align: center;
	}
	.btn-green{
    	padding: 21px 34px;
	}
	@media (min-width: 768px) {
		header.big-image {
			// padding: 154px 0 100px;
		}
		header h1 {
			font-size: 54.99px;
			margin-bottom: 45px;
		}
		header p.sub-text {
			font-size: 41.3px;
		}
	}
	@media (min-width: 992px) {
		header h1, header p.sub-text {
			text-align: left;
		}
		header.big-image {	
			// padding: 85px 0 0 0;
			// height: 100vh;
			min-height: 535px;
			text-align: left;
		}
		header.small-image {
			padding: 47px 0;
			text-align: left;
		}
		.small-image h3,  #country-info h3  {
			font-size: 60px;
		}
	}

	/* Pixel Perfect*/
	@media only screen and (min-width: 1260px) {
		.container {
		    max-width: 1200px;
		}
		.vl {
		    left: 161px;
		}
		.navbar-brand {
			padding-left: 8px;
		}
		header.big-image {
			// padding: 431px 0 377px;
		}
		header h1 {
			// text-align: left;
			font-size: 66.58px;
		}
		header p.sub-text {
			// text-align: left;
			font-size: 50px;
		}
		header.small-image {
		    padding: 52px 0 42px 0;
		}
			header.small-image h3 {
				margin-left: 70px;
			}

	}

section {
	padding: 30px 0;
	text-align: center;
}
@media (min-width: 768px) {
	section {
		padding: 45px 0;
	}
}
@media (min-width: 992px) {
	section {
		// padding: 150px 0;
	}
}
@media only screen and (min-width: 1260px) {
	section {
		padding: 75px 0;
	}
}

#blank {
	height: 1000px;
}
footer {
	overflow-y: hidden;
	display: flex;
	-ms-flex-align: center;
	-webkit-box-align: center;
	align-items: center;
	height: 80px;
	img {
		padding-bottom: 12px;
		padding-top: 9px;
	}
	a {
		font-family: 'Proxima Nova', sans-serif;
		font-size: 16px;
		color: #828282;
		margin-left: 45px;
		padding-bottom: 6px;
		&:first-child {
			margin-left: 0;
		}
		&:hover, &:focus {
			text-transform: none;
			text-decoration: none;
			color: #828282;
		}
	}
}

@media (min-width: 768px) {
	footer {
		.container {
			padding-right: 23px;
			padding-left: 23px;
		}
		img {
			padding-bottom: 0;
			padding-top: 0;
		}
		a {
			padding-bottom: 0;
		}
	}
}